/* Small Device Media Query */
@media only screen and (max-width:576px) {
    body {
        margin: 0;
        padding: 0 50px;
        max-width: 576px;
    }

    .section-title {
        color: rgb(19, 19, 24);
        font-size: 1.5rem;
        font-weight: 800;
    }

    .section-caption {
        color: rgba(19, 19, 24, 0.7);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .tab-hide {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero {
        width: 335px;
        height: 483px;
        padding: 30px 0;
        margin: 0 auto;
        margin-top: 30px;
    }

    .hero-title {
        font-size: 1.3rem;
    }
    .hero-caption {
        color: rgb(255, 255, 255);
    }
    .section-caption {
        font-size: 0.9rem;
    }

    .hero-selection {
        width: 287px;
        height: 288px;
        flex-direction: column;

    }

    .popular-tour {
        flex-direction: column;
        margin-top: 30PX;
    }

    .popular-tour img {
        width: 335px;
        height: 342px;
    }
    .whole-img img{
        width: 100%;
    
    }
    .row{
        max-width: 576px;
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
    }
    .single-img-text{
    left: 40%;
    }
    .choose-whole-card {
        grid-template-columns: auto;
    }
    .card3{
    grid-column: unset;
    width: auto; }
    .news{
        max-width: 576px;
        margin: 0 auto;
        flex-direction: column;
    }
    .news-img{
        max-width: 100%;
    }
    .news-img video{
        width: 100%;
    }
    .news-img h2 {
        top: 35%;
        left: 15%;
    }
    .news-text{
        text-align: center;
    }
    .news-text li{
        list-style: none;
    }
    .newsletter{
        flex-direction: column;
        gap: 30px;
    }
    .nl-form{
        width: 80%;
        padding-right: 40px;
    }
    .nl-img{
        width: auto;
    }
    .nl-form input{
        padding: 16px 150px 16px 20px;
    }
    footer{
        background: rgba(19, 19, 24, 0.05);
        padding: 20px 10px; 
    }
}


/* Medium Devices Media query */
@media screen and (min-width:576px) and (max-width:992px) {
    body {
        margin: 0;
        padding: 0 100px;
    }
    .tab-hide {
        display: none;
    }
    .navbar ul {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .hero {
        margin: 0 auto;
        margin: 40px 0;
        width: 935px;
        height: 483px;
        width: 100%;
        overflow: auto;
    }
    .popular-tour {
        flex-direction: column;
    }
    .whole-img img{
        width: 100%;
    
    }
    .row{
        max-width: 992px;
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
    }
    .single-img-text{
        top: 45%;
    left: 45%;
    }
    .card3{
        grid-column: unset;
        width: auto; 
    }
    .news{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .news-img video{
        width: 100%;
    }
    .newsletter{
        flex-direction: column;
    }
    .nl-form{
        width: 90%;
        padding-right: 40px;
    }
    .nl-img{
        width: 100%;
    }
    .nl-form input{
        padding: 16px 200px 16px 20px;
    }
    footer{
        background: rgba(19, 19, 24, 0.05);
        padding: 20px 10px; 
    }
   
}