@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", serif;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 135px;
    box-sizing: border-box;
}

section {
    margin-bottom: 100px;
}

/* Common Styles */
.d-flex {
    display: flex;
}

.section-title {
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
}

.section-caption {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    padding: 14px 14px 14px 14px;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-weight: 800;
}

span {
    color: rgb(255, 84, 0);
}

/* Navbar Styles  */
nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-img {
    font-size: 2.25rem;
    font-weight: 800;
    gap: 10px;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.navbar-option {
    gap: 44px;
}

.hamburger {
    display: none;
}

a:hover {
    color: rgb(255, 84, 0);
}

/* Hero section styles */
.hero {
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../assets/Images/hero-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.hero-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
}

.hero-caption {
    color: rgb(255, 255, 255);
}

.hero-selection {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 800px;
    height: 84px;
    align-items: center;
    justify-content: space-around;
}

.hero-selection input,
select,
button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    padding-left: 10px;
}

.hero-selection button {
    color: rgb(241, 241, 241);
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

/* Our Popular Tours section styles */
.popular-tour{
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.popular-tour-text p {
    padding: 10px 0;
}
.popular-tour-text ul {
    
    padding-left: 20px;
}